* {
    margin: 0;
    padding: 0; 
    font-family:Arial, Helvetica, sans-serif;
}

.hero {
    display: block;
    border-radius: 2%;
    background-color: rgb(255, 250, 243);
    position: relative;
    width: 100%;
    height: 100vh; 
}

.hero-text{
    margin-left: 8%; 
    margin-top: 15%; 
    text-align: left;
}

.hero-text h1{
    font-size: 40px; 
    color: rgb(0, 0, 0); 
}



.about{
    display:block; 
    border-radius: 4%;
    width: 100%;
    height: 40vh;
    position:relative;   
    background-color: rgb(243, 117, 27);
    padding: 5px;  
    margin-top: 5%;
    text-align: left;
}

.about-text{
    color: rgb(255, 250, 243);
    margin-left: 7%; 
    margin-top: 5%;   
}

.about-text h1{ 
    font-size: 30px;
}

.about-text h3{
    margin-top:3%;
}

.work{
    width: 100%;
    height: 100%; 
    position: relative; 
    background-color: rgb(255, 228, 191);
}

.work-text h1{
    font-size: 30px;
    margin-bottom: 3%;
}

.work-text {
    margin-left: 7%; 
}

.flex-container{
    display:flex;
    padding:10px;
    justify-content: space-around;
}

.flex-items {
    margin: 10px;
    text-align: center;
}



nav {
    display: flex; 
    width: 84%;
    margin: auto; 
    padding: 20px 0; 
    align-items:center;
    justify-content: space-between; 
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px; 
}

nav ul li a{
    text-decoration: none;
    color:rgb(19, 94, 207); 
    font-weight: bold;
}

nav ul li a:hover{
    color: black; 
}

span {
    
    color:rgb(243, 117, 27);
}

.images{
    width:45%;
    height: 80%; 
    position: absolute; 
}

.work{
    
}

.contact {
    display: inline-grid; 
    
}